footer(class='footer')
    section(class='container')
        div(class='row')
            div(class='col col-md-1') 1
            div(class='col col-md-1') 1
            div(class='col col-md-1') 1
            div(class='col col-md-1') 1
            div(class='col col-md-1') 1
            div(class='col col-md-1') 1
