div(class='row')
    div(class='logo col-sm')
        img(
            src='images/store.png' 
            class='logo'
            )
    div(class='sitename col-sm')
        span SITE NAME
    div(class='cart col-sm')
        span CART